body {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

/* (NAVBAR)  */

.navcont {
    width: 100%;
    position: fixed;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    background-image: linear-gradient(black, darkred);
}


.logo img {
    padding-left: 20px;
    width: 90px;
    height: 80px;
    margin: 5px 0px 0px 0px;

}

.navbar-h {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar div a {
    font-size: 1.3rem;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.navbar div a:hover {
    color: black;
    background-color: white;
    transition-duration: 0.4s;
}



/* (ABOUT US) */

.aboutus {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0 50px;
    color: white;
}

/* (DIVIDER) */

.divider {
    width: 90%;
    height: 2px;
    margin: 0 auto;
    background-color: rgb(106 11 11);
    border-radius: 10px;
}



/* (HOME-4) */

.home4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
}


.home4 img {
    border-radius: 5px;
    width: 100%;
}

.home4 .para4 {
    width: 40%;
    line-height: 30px;
    padding: 15px 0;
    color: white;
    text-align: justify;
}

.home4 .pic4 {
    width: 40%;
}


/* (FOOTER) */

.footer {
    margin-top: 0px;
    padding: 33px;
    box-sizing: border-box;
    font-weight: 400;
    background-color: rgb(106 11 11);
    background-image: linear-gradient(black, rgb(58, 0, 0), darkred);
}

.footer .social {
    text-align: center;
}

a {
    text-decoration: none;
}

.icon {
    width: 25px;
    height: 25px;
    border-radius: 18px;
    padding: 12px;
    margin: 7px;
    border: 1.5px solid rgb(106 11 11);
    background: rgb(106, 11, 11);
}

.icon:hover {
    color: black;
    background-color: white;
    transition-duration: 0.9s;
}

.footer .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}


.footer .list a {
    padding: 0 15px;
    color: white;
    font-size: 18px;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

@media (max-width:850px)
 {
    .navbar div a {
     margin: 0px;
     padding: 10px;
     font-size: 15px;
    }

    .icon {
    
        background: rgb(106, 11, 11);
        border: 1px solid black;
     }

}

@media  (max-width:600px) 
{

    .home4 {
        display: flex;
        flex-direction: column;
    }
    
    
    .logo img{
        padding: 0px;
        margin-left: 25px;
    }

    .navbar-h {
        width: 100%;
        padding: 30px;
    }

    
}